<div class="col-md-12">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <th></th>
          <th>
            Patient
          </th>
          <th>
            Added
          </th>
          <th>
            Preview
          </th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataList">
            <td style="width:65px;">
              <img src="{{ data.img }}" />
            </td>
            <td>{{ data.patient }}</td>
            <td>{{ data.added }}</td>
            <td>{{ data.preview }}</td>
            <td>
              <div>
                <button
                  type="button"
                  mdbBtn
                  color="info"
                  (click)="editPreview(data.preview)"
                  mdbWavesEffect
                >
                  <i class="nc-icon nc-ruler-pencil"></i>
                  Edit
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
