<div class="col-md-12" *ngIf="dataList">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <th></th>
          <th>
            Patient
          </th>
          <th>
            Added
          </th>
          <th>
            Preview
          </th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataList">
            <td style="width:65px;">
              <img src="{{ data.patient.photo }}" />
            </td>
            <td>{{ data.patient.name }}</td>
            <td>21 Nov 2019</td>
            <td>{{ data.note | ellipsis: 50 }}</td>
            <td>
              <div>
                <button
                  type="button"
                  mdbBtn
                  color="info"
                  (click)="editPreview(data)"
                  mdbWavesEffect
                >
                  <i class="nc-icon nc-ruler-pencil"></i>
                  Edit
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="text-center" *ngIf="!(dataList)">
  <span>Notes Not found!</span>
</div>
