<div class="container">
  <div class="text-center">
    <div class="btn-group-vertical" style="margin-top: 7%;">
      <button
        mdbBtn
        type="button"
        color="default"
        block="true"
        routerLink="/register"
        routerLinkActive="active"
        mdbWavesEffect
      >
        Create a healthcare account
      </button>
      <button
        mdbBtn
        type="button"
        style="margin-top:30px"
        color="light-blue"
        block="true"
        mdbWavesEffect
      >
        sign in to a healthcare account
      </button>
    </div>
  </div>
</div>
