<div class="jumbotron" style="height:100vh;">
  <div class="container">
    <h1 class="display-12 text-center">TOUCH ID</h1>
    <p class="lead">
      Description ...
    </p>
    <hr class="my-4" />
    <p>
      You can register or sign in
    </p>
    <button
      mdbBtn
      type="button"
      color="default"
      block="true"
      routerLink="/register"
      routerLinkActive="active"
      mdbWavesEffect
    >
      Register
    </button>
    <button
      mdbBtn
      type="button"
      style="margin-top:20px;"
      color="light-blue"
      block="true"
      mdbWavesEffect
    >
      sign In
    </button>
  </div>
</div>
