<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/doctor-patient.jpg" alt="..." />
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img
              class="avatar border-gray"
              src="assets/img/default-avatar2.png"
              alt="..."
            />
            <h5 class="title">{{ accountDetail.name }}</h5>
          </a>
          <p class="description">
            {{ accountDetail.name }}
          </p>
        </div>
        <p class="description text-center"></p>
      </div>
      <div class="card-footer">
        <hr />
        <div class="button-container">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-4 ml-auto">
              <h5>
                Gender
                <br />
                <small>Male</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-4 col-4 ml-auto mr-auto">
              <h5>
                Age
                <br />
                <small>24</small>
              </h5>
            </div>
            <div class="col-lg-4 mr-auto">
              <h5>
                Admitted
                <br />
                <small>Yes</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Patient Info</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Blood Type</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  value="A RH (+)"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Do not administer</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  value="Yes"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Hearth Rate</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  value="100 beats per minute"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Body Temperature</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  value="37 degrees Celsius"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Medical History</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  value="HBV"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Last Admission</label>
                <input
                  type="text"
                  class="form-control"
                  disabled=""
                  value="15 November 2019 11:41 PM"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
