<h2 class="text-center">Edit Note</h2>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title w-100" id="myModalLabel">
        {{ fromPage }}
      </h4>
    </div>
    <textarea
      type="text"
      id="review"
      rows="4"
      autocomplete="false"
      name="review"
      [(ngModel)]="review"
    >
    </textarea>
    <div class="modal-footer">
      <button
        type="button"
        mdbBtn
        color="danger"
        aria-label="Close"
        (click)="closeDialog()"
        mdbWavesEffect
      >
        Close
      </button>
      <button
        type="button"
        mdbBtn
        color="primary"
        class="relative waves-light"
        mdbWavesEffect
      >
        Save changes
      </button>
    </div>
  </div>
</div>
