<!-- <span *ngIf="!(device)" style="text-align: center;">Get Help while scannig for devices</span> -->

<div class="row" *ngIf="value">

    <!--Grid column-->
    <div class="col-md-6">
  
      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up indigo lighten-1">
        </div>
  
        <!--Avatar-->
        <div class="avatar mx-auto" style="min-width: 90px; min-height: 90px; margin-top: 10px;">
          <img src="../../../assets/img/ahmet.jpg" class="rounded-circle">
        </div>
  
        <mdb-card-body style="text-align: center;">
          <!--Name-->
          <mdb-card-title>
            <h4>Ahmet Faruk Cali</h4>
          </mdb-card-title>
          <hr>
          <!--Quotation-->
          <span>Gender<br></span>
          <span style="font-weight: bold;">Male<br><br></span>
          <span>Age<br></span>
          <span style="font-weight: bold;">24<br><br></span>
          <span>Admitted<br></span>
          <span style="font-weight: bold;">10 | 10 | 19<br><br></span>
        </mdb-card-body>
      </mdb-card>
  
    </div>
    <!--Grid column-->
    
    <div class="col-md-6">
      <mdb-card>
        <!--Card content-->
        <mdb-card-body>
          <!--Text-->
          <div class="custom-control custom-checkbox" *ngFor="let data of credentialData">
              <input type="checkbox" class="custom-control-input" [checked] = "data.checked" [indeterminate]="data.indeterminate" (click)="click(data)" id="data{{data.record}}" />
              <label class="custom-control-label" for="data{{data.record}}" style="font-weight: bold;">{{data.recordName}}</label>
          </div>
          <a mdbBtn color="primary" (click)="updateObject()" mdbWavesEffect>Confirm Selection</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <span *ngIf="isApprove" style="text-align: center; margin-left: 300px; font-size: 48px;"><i class="nc-icon nc-badge"></i>&nbsp; Credential created successfully </span>
  <!--Grid row-->